skill{
  border-radius: 50%;
  background-color: #3A3535;
  width:160px;
  height: 160px;
  display: inline-block;
  text-align: center;
}

.text {
  color: #f4f4f4;
  display: inline-block;
  line-height: 160px;
  height: 160px;
}
