.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

#info{
  height:300px;
  background-color: #3A3535;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#stripe {
  background-color: #ff7221;
  height:6px;
  width: 100%;
}

.pane {
  width : 500px;
  color: #f4f4f4;
}
#leftPane{
  text-align: center;
}

#rightPane {
  display: flex;
  flex-direction: column;
  width:auto;
}

.individual{
  display:flex;
  flex-direction: row;
  align-items: center;
}

.personal {
  margin-left: 20px;
}

h1 {
  font-size: 40px;
  margin-top: 0px;
}
